<!DOCTYPE html>
<html>
<head>
    <title>Таблица данных</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Исходящая линия</th>
                <th>Откуда</th>
                <th>Дозвон</th>
                <th>Звонок</th>
                <th>Дозвон%</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>